<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    body {
        background: linear-gradient(to bottom right, #FF9966, #FF6666);
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        font-family: Arial, sans-serif;
    }

    .button-container {
        text-align: center;
    }

    .button {
        display: inline-block;
        padding: 12px 24px;
        background-color: #FFFFFF;
        color: #FF6666;
        text-decoration: none;
        border-radius: 4px;
        font-weight: bold;
        transition: background-color 0.3s ease;
    }

    .button:hover {
        background-color: #FF9999;
        color: #FFFFFF;
    }
</style>
</head>
<body>
  <div class="button-container">
    <h1><%= times %> finished.</h1>
      <a class="button" href="/">Back to home</a>
  </div>
</body>
</html>